{% extends "layout.html" %}

{% block body_content %}
<style>
	#select-label{
		background-color: white;
		font-size: 25px;
	}
</style>
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
	<fieldset class="form-group">
		<!-- <legend style="color: black; text-align: center;" class="border-bottom mb-4">Register for a machine</legend> -->
		<div style="color: black;" class="form-group">
			<div id="select-label">
				{{ form.date.label(class="form-control-label") }}
			</div>
			{% if form.date.errors %}
				{{ form.date(class="form-control form-control-lg is-invalid",size=7) }}
				<div class="invalid-feedback">
					{% for error in form.date.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.date(class="form-control form-control-lg",size=7) }}
			{% endif %}
		</div>
		<div style="color: black;" class="form-group">
			<div id="select-label">
				{{ form.time.label(class="form-control-label") }}
			</div>
			{% if form.time.errors %}
				{{ form.time(class="form-control form-control-lg is-invalid",size=10) }}
				<div class="invalid-feedback">
					{% for error in form.time.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.time(class="form-control form-control-lg",size=10) }}
			{% endif %}
		</div>
		<div style="color: black;" class="form-group">
			<div id="select-label">
				{{ form.server.label(class="form-control-label") }}
			</div>			
			{% if form.server.errors %}
				{{ form.server(class="form-control form-control-lg is-invalid",size=4) }}
				<div class="invalid-feedback">
					{% for error in form.server.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.server(class="form-control form-control-lg",size=4) }}
			{% endif %}
		</div>
	</fieldset>
	<div class="form-group">
		{{ form.submit(class="btn btn-info") }}
	</div>
</form>
{% endblock %}
