{% extends "layout.html" %}
{% block body_content %}

<style>
	#reserv-table{
		margin-top: 100px;
		/*f: white;*/
		background-color: #EEB9EA;
	}
</style>

<div class="container" id="reserv-table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>DATE</th>
				<th>TIME</th>
				<th>SERVER</th>
				<th>ACTIVATION CODE</th>
				<th></th>
			</tr> 
		</thead>
		<tbody>
			{% for reserv in reservations %}
				<tr>
					<td>{{ reserv[1:11] }}</td>
					<td>{{ reserv[12:17] }}</td>
					<td> Machine {{ reserv[22] }}</td>
					<td>{{ reserv[24:-1] }}</td>
					<td>
						<a class="btn btn-outline-danger" role="button" 
						href="{{ url_for('delete_reservation',date=reserv[1:11], time=reserv[12:17], serv=reserv[22]) }}">delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}